html, body {
    margin : 0;
    padding : 0;
    height: 100%;
    width: 100%;
}

.topHeader {
    width: 100%;
    height: 10%;
    box-shadow: 0 0 1em black;

    display: flex;
    justify-content: center;
    align-content: center;
}

.bottomFooter {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-content: center;
}

.corps {
    height: 100%;
    width: 100%;
}