@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
    height: 100%;
    width: 100%;

    margin : 0;
    padding : 0;
    background: floralwhite;
}

a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

h1, h2, p, a, span {
    font-family: 'Quicksand', sans-serif;
    transition: 1s;
}

.topHeader {
    width: 100%;
    height: 12%;
    background: floralwhite;

    box-shadow: 0 0 1em black;

    display: flex;
    justify-content: center;
    align-content: center;
}

.bottomFooter {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-content: center;
}

.corps {
    height: 100%;
    padding: 2.5% 1%;
    background: floralwhite;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerRightDiv {
    height: auto;
    width : 25%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerRightDiv>a {
    font-size: 1.3vw;
}

.headerLeftDiv {
    height: auto;
    width: 20%;
    padding: 0.5vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerCenterDiv {
    height: auto;
    width: 55%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoImg {
    width:100%;
}

.topic>span, .topic>p {
    font-size: 1.25vw;
}

.topic {
    height: 10vh;
    width: 66.66%;
    border-radius: 1vh;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 0.75%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}