html, body {
    height: 100%;
    width: 100%;

    margin : 0;
    padding : 0;
}

.topHeader {
    width: 100%;
    height: 10%;

    box-shadow: 0 0 1em black;

    display: flex;
    justify-content: center;
    align-content: center;
}

.bottomFooter {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-content: center;
}

.corps {
    height: 100%;
    width: 100%;
    padding: 1%;
}

.corps>article {
    height: 10vh;
    width: 100%;
    border-radius: 1vh;

    display: flex;
    justify-content: stretch;
}

.headerRightDiv {
    height: auto;
    width : 25%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerLeftDiv {
    height: auto;
    width: 20%;
    padding: 0.5vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerCenterDiv {
    height: auto;
    width: 55%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoImg {
    width:100%;
}