@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
    height: 100%;
    width: 100%;

    margin : 0;
    padding : 0;
}

a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #101820;
    font-size: 1vw;
}

a:visited{
    color: #101820;
}

h1, h2, h3, p, a, span, label, input {
    font-family: 'Quicksand', sans-serif;
    transition: 1s;
}

.topHeader {
    width: 100%;
    height: 12%;
    background: floralwhite;

    box-shadow: 0 0 1em black;

    display: flex;
    justify-content: center;
    align-content: center;
}

.bottomFooter {
    width: 100%;
    height: 20%;
    background: white;
    color: floralwhite;

    display: flex;
    align-items: center;
}

.divconnexion::before {
    content:"\A";
    top: 4vw;
    right: 13vw;
    border-bottom: solid 63px #ccc;
    border-left: solid 80px transparent;
    border-right: solid 80px transparent;
    position: absolute;
}

.divconnexion{
    position: absolute;
    top: 13vh;
    right: 10vw;
    border: #101820 solid 1px;
    border-radius: 2vw;
    width: 14vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.divfooterdroit{
    justify-content: flex-end;
    flex-direction: row;

}

.corps {
    height: 100%;
    width: 46.95vw;
    padding: 2.5% 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerRightDiv {
    height: auto;
    width : 25%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerRightDiv>a {
    text-decoration: none;
    font-size: 1.3vw;
}

.headerLeftDiv {
    height: auto;
    width: 20%;
    padding: 0.5vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerCenterDiv {
    height: auto;
    width: 55%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoImg {
    height:100%;
}

.logoImgfooter{
    height: 6vh;
}

.logogithub{
    height: 8vh;
    align-items: center;
}

.flechehaut{
    height: 5vh;
    padding: 0 3vw 0 5vw;
}

.help{
    height: 5vh;
}

.topic>span, .topic>p {
    font-size: 1.25vw;
}

.topic {
    height: 10vh;
    width: 66.66%;
    border-radius: 1vh;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 0.75%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.splitter {
    display: flex;
    flex-wrap: wrap;
}

.separator {
    border: #101820 solid 0.1vw;
}