@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html, body {
    height: 100%;
    width: 100%;

    margin : 0;
    padding : 0;
}

body {
    display: flex;
    flex-direction: column;
}

a:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: #101820;
    font-size: 1vw;
    cursor: pointer;
}

a:visited{
    color: #101820;
}

h1, h2, h3, p, a, span, label, input {
    font-family: 'Quicksand', sans-serif;
    transition: 0s;
}

.sign:hover {
    background: floralwhite;
    color: #101820;
    border: 0.11vw solid #101820;
}

.sign{
    text-decoration: none;
    color: floralwhite;
    font-size: 1vw;
    cursor: pointer;

    padding: 0.75vw 1.25vw;
    border-radius: 1vw;
    background: #101820;
    border-radius: 1vw;
    border: 0.11vw solid transparent;
}

.topHeader {
    width: 100%;
    height: 12%;
    background: floralwhite;

    box-shadow: 0 0 1em black;

    display: flex;
    justify-content: center;
    align-content: center;
}

.bottomFooter {
    width: 100%;
    height: 20%;
    background: white;
    color: floralwhite;

    display: flex;
    align-items: center;
}

#divconnexion{
    position: absolute;

    width: 14vw;
    height: 18vw;
    top: 13vh;
    right: 10vw;
    left: auto;

    border: #101820 solid 1px;
    border-radius: 2vw;

    background: #ffffff;
    border: #101820 solid 1px;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#divinscription{
    position: absolute;

    width: 17vw;
    height: 28vw;
    top: 13vh;
    right: 4vw;
    left: auto;

    background: #ffffff;
    border: #101820 solid 1px;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.adminStatus {
    font-size: 1vw;
    color: red;
    position: absolute;
    left: 4px;
    top: 4px;
}

input[type="password"]{
    width: 90%;
    height: 3vh;
}

input[type="text"]{
    width: 90%;
    height: 3vh;
}

input[type="Submit"]{
    width: 60%;
    height: 5vh;
    margin-top: 1vh;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 35vh;
}
#form>label{
    font-size: 1vw;
}


.divfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.divfooter>h3{
    font-size: 1.4vw;
}

.divfooter>a{
    font-size: 1vw;
}

.divfooterdroit{
    justify-content: flex-end;
    flex-direction: row;
}

.corps>h2{
    font-size: 3vw;
}

.corps {
    height: 70%;
    width: 46.95vw;
    padding: 2.5% 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation{
    width: 66.66%;
    border-radius: 1vh;
    background: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation>p{

    padding: 0vh 2vw 0vh 2vw;
    font-size: 1.5vw;
    text-align: justify;
}

.main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.headerRightDiv {
    height: auto;
    width : 30%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerRightDiv>a {
    text-decoration: none;
    font-size: 1.3vw;
}

.headerRightDiv>span {
    font-size: 2vw;
}

.headerLeftDiv {
    height: auto;
    width: 30%;
    padding: 0.5vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerCenterDiv {
    height: auto;
    width: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoImg {
    height:100%;
    width: auto;
}

.logoImgfooter{
    height: 10vh;
    padding: 0 0 1vh 0;
}

.logogithub{
    height: 8vh;
    align-items: center;
}

.flechehaut{
    height: 5vh;
    padding: 0 3vw 0 5vw;
}

.help{
    height: 5vh;
}

.topic>span, .topic>p {
    font-size: 1.25vw;
}

.topic {
    height: 10vh;
    width: 66.66%;
    border-radius: 1vh;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 0.75%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.splitter {
    display: flex;
    flex-wrap: wrap;
}

.separator {
    border: #101820 solid 0.1vw;
}

.topicBox {
    width: 29%;
    height: 88%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0.25%;
}
.topicView {
    width: 70%;
    height: 88%;
    padding: 0.25%;
}
.timeline {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.discussion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 54vw;
}

.discussion>div>p, .discussion>div>a {
    margin: 0;
    padding: 0;
}

.discussionId {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10vw;
}

.discussionInfo {
    display: flex;
    flex-direction: column;
}

.messageSum, .messageBox {
    display: flex;
    justify-content: center;
    width: 50vw;
    align-self: center;

    background: #101820;
    color: white;
    border-radius: 2vw;
}

.messageBox>textarea {
    width: 93%;
    resize: none;
    background: #101820;
    color: white;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

.topicRoll {
    height: 10vh;
    width: 100%;
    border-radius: 1vh;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 1%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topicBoard {
    display: flex;
    height: 67.5%;
}

.messageSum {
    padding: 0 2vw;
}

.messageSum>p {
    padding: 0.25vw 0;
}